#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.doors {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.buttons button {
    background-color: rgb(156, 115, 248);
    color: #fff;
    font-size: 2rem;
    border: none;
    padding: 10px 25px;
}